MONGO_URL=mongodb url
JWT_SECRET=jwt secret
JWT_EXPIRES_IN=1d
FIREBASE_PROJECT_ID=firebase project id
FIREBASE_CLIENT_EMAIL=firebase client email
FIREBASE_PRIVATE_KEY=firebase private key
PORT=3000
SUPABASE_URL=supabase project url
SUPABASE_SERVICE_ROLE_KEY=supabase service role key
SUPABASE_BUCKET=supabase bucket name
